* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-weight: normal;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background-color: #efefef;
  color: black;
}

.btn {
  border: 2px solid;
  border-radius: 40px;
  padding: 12px 26px;
  cursor: pointer;
}

.btn.btn-link {
  color: #fff;
  cursor: pointer;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.section__item-link2:hover,
.main__btn:hover,
.header__contacts-btn:hover,
.header__logo:hover,
.img-section__link:hover,
.section-impuls__link:hover,
.footer__contacts-img:hover,
.footer__contacts-btn:hover {
 transform: scale(1.2);
}

.header__menu,
.header__nav,
.header__contacts,
.header__logo,
.header__contacts-nav,
.header__contacts-wrap,
.main__offers,
.main__block,
.section,
.section__about,
.section-impuls,
.footer,
.footer .footer__wrap,
.footer__contacts,
.footer__contacts-wrap  {
    content: "";
    clear: both;
    display: table;
}

.header {
  background: #efefef;
}

.header__menu {
  width: 20%;
  margin: 0 auto;
  padding: 0.8% 0;
}

.header__nav {
  width: 100%;
  margin: 0 auto;
}

.header__nav-item {
  padding-left: 7.2%;
  font-size: 0.89rem;
  color: #000;
  line-height: normal;
  font-style: normal;
  float: left
}

.header__nav-item:nth-last-child(1) {
  padding-right: 0;
}

.header__contacts {
  width: 100%;
  background-color: #fff;
  padding: 0.9% 19.3%;
}

.header__logo {
  width: 50%;
  padding-left: 3.3%;
  float: left
}

.header__logo-img {
  float: left;
}

.header__logo-name {
  float: left;
  padding: 4% 0 4% 4%;
}

.header__logo-name-link {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #F13C6E;
  text-transform: uppercase;
}

.header__contacts-call {
  float: right;  
  width: 50%;
  padding-top: 1.9%;
}

.header__contacts-link {
  float: left;  
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: #000;
  font-style: normal;
  padding: 2% 0 0 38%;
}

.header__contacts-btn {
  float: right;  
  width: 29%;
  border: 2px solid #F13C6E;
  padding: 1.9% 0;
  font-size: 0.87rem;
  background-color: #fff;
  margin-right: 4%;
}

.header__contacts-nav {
  width: 100%;
  border: 1px solid #efefef;
  background-color: #fff;
}

.header__contacts-wrap {
  width: 33%;
  margin: 0 auto;
  padding: 1.6% 0;
}

.nav__item {
  float: left;
  padding-right: 7%;
}

.nav__item:nth-last-child(1) {
  padding-right: 0;
}

.header__contacts-nav-section {
  padding-left: 3.5%;
}

.img-section {
  position: relative;
  overflow: hidden;
}

.img-section__text {
  padding-left: 21.3%;
  position: absolute;
  color: #fff;
  top: 31.5%;
}

.img-section__text .img-section__heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  margin-bottom: 16%;
}

.img-section__text .img-section__text-span,
.img-section__text .img-section__link {
  color: #fff;
  font-size: 0.88rem;
  line-height: 20px;
}

.img-section__text .img-section__link {
  float: left;
  width: 67.2%;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 4.3% 10.5%;
  text-align: center;
  letter-spacing: 0.7px;
  margin: 8% 0;
  line-height: normal;
  font-size: 0.87rem;
}

.main__wrap {
  width: 59%;
  margin: 0 auto;
}

.main, .main_down {
  margin-top: 4%;
}

.main__heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.main__offers {
 width: 100%;
}

.main__block {
width: 100%;
}

.main__block-item {
  float: left;
  background-color: #fff;
  width: 22.8%;
  padding-bottom: 3.3%;
  margin: 3.3% 2.8% 0 0;
}

.main__block-item:nth-last-child(1) {
  margin-right: 0;
}

.main__img {
  padding: 9.8% 25% 6%;
}

.main__text {
  text-align: center;
  font-size: 0.88rem;
  line-height: 20px;
  padding-bottom: 4%;
}

.main__block-price {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 1.31rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8%;
}

.main__btn{
  width: 51%;
  margin: 0 auto;
}

.main__block-btn {
  color: #fff;
  background-color: #F13C6E;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  padding: 7% 41%;
}

.section {
  width: 100%;
  background-color: #efefef;
  margin-top: 5.25%;
}

.section .section__about {
  width: 59%;
  margin: 0 auto;
  margin-bottom: 5.2%;
}

.section__item {
  float: left;
  width: 48%;
  padding-left: 3.7%;
  margin-right: 3.5%;
  background-color: #F13C6E;
  position: relative;
}

.section__item2 {
  float: left;
  width: 48%;
  padding-left: 3.7%;
  background-color: #F13C6E;
  position: relative;
}

.section__item-text,
.section__item-visit {
  padding: 7% 0;
  width: 50%;
  font-size: 0.88rem;
}

.section__item-span,
.section__item-title {
  color: #fff;
  margin-bottom: 8%;
  line-height: 20px;
}

.section__item-title {
  font-weight: 700;
}

.section .section__input {
  float: left;
  width: 90%;
  border: none;
  margin: 10% 0 14%;
  border-radius: 30px;
  padding: 4% 0 3.8% 10%;
  font-size: 0.88rem;
}

.section__item-img {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.img-letter {
  margin-left: 15%;
  width: 52%;
}

.section .section__item-visit {
  width: 48%;
  background-color: #F13C6E;
}

.section__item-link {
  background-color: #F13C6E;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #fff;
  padding: 2.7% 21%;
  font-size: 0.9rem;
  text-align: center;
}

.section__item-link2 {
  margin: 14% 0 4%;
  background-color: #F13C6E;
}

.section__item-img .img-car {
  margin-top: 3%;
  margin-right: 8%;
  width: 70%;
}

.section-impuls {
  background-color: #efefef;
  width: 100%;
}

.section-impuls__wrap {
  width: 59%;
  margin: 0 auto;
}

.section-impuls__link {
  width: 25%;
  padding:2.89% 6%;
  border: 1px solid #efefef;
  float: left;
  background-color: #fff;
}

.main_down .main__block-item{
  margin-bottom: 7.7%;
}

.main_down .main__img {
  padding-top: 11.8%;
  padding-bottom: 7%;
  padding-left: 25%;
  padding-right: 25%;
}

.footer {
  background-color: #fff;
  width: 100%;
}

.footer .footer__wrap {
  width: 59%;
  background-color: #fff;
  margin: 0 auto;
}

.footer .footer__item {
  float: left;
  width: 25%;
  padding-left: 2%;
}

.footer .footer__item-title {
  padding: 19.5% 0 11%;
  font-weight: 700;
  line-height: 23px;
}

.footer__item-link {
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #828282;
  opacity: 0.5;
  line-height: 28px;
  padding: 8% 0 19%;
}

.footer__contacts {
  width: 100%;
  border-top: 1px solid #efefef;
  background-color: #fff;
}

.footer__contacts-wrap {
  width: 61%;
  margin: 0 auto;
  padding-top: 2%;
  padding-left: 2%;
}

.footer__contacts-img {
  margin-right: 75.5%;
}

.footer__contacts-img img{
  float: left;
  height: 48px;
  margin-right: 3.6%;
}

.footer__contacts .footer__contacts-call {
  float: right;
  width: 31%;
  background-color: #fff;
  
}

.footer__contacts .footer__contacts-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: #000;
  font-style: normal;
  white-space: nowrap;
  margin-right: 8%;
  padding-top: 2%;
}

.footer__contacts .footer__contacts-btn {
  width: 50%;
  border: 2px solid #F13C6E;
  padding: 2.9% 6%;
  font-size: 0.88rem;
  background-color: #fff;
  margin-bottom: 12%;
}

.footer__privacy {
  width: 100%;
  background-color: #efefef;
  padding: 1.3% 20.5% 1.3% 21.3%;
  font-size: 0.75rem;
  opacity: 0.5;
}

.footer__privacy p {
  float: right;
}