@mixin flex($dir,$jc,$ai) {
    display: flex; //расположить блоки в линию
    flex-direction: $dir; //выравнивание по направлению текста
    justify-content: $jc; //выравниваются блоки в центре контейнера
    align-items: $ai; //вырвниваются по центру контейнера
}